body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.level-blue{
    background-image: url(../images/level-blue.jpg);
}
.level-blue-button{
    background-image: linear-gradient(90deg, #0367a6 0%, #00889733 74%);
    color: #fff;
}

.level-green{
    background-image: url(../images/level-green.jpg);
}

.level-green-button{
    background-image: linear-gradient(90deg, #03a641 0%, #2f8851 74%);
    color: #fff;
}

.level-black{
    background-image: url(../images/level-black.jpg);
}

.level-black-button{
    background-image: linear-gradient(90deg, #616161 0%, #5e23238f 74%);
    color: #fff;
}


header{
    background-color: #fff9;
    border-bottom: 1px solid #ccc;

}

.top{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    padding: 5px;
}

.widget{
    position: fixed;
    left: 50%;
    transform: translate(100vw, 0);
    background-color: #fff;
    border: solid black 1px;  
    width: 400px;
    height: 200px;
    padding: 20px;

   }

.widgetShow{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    border: solid black 1px;  
    width: 400px;
    height: 200px;
    padding: 20px;
    animation-name: showWidgetOnScreen;
    animation-duration: 2s;
}
@keyframes showWidgetOnScreen {
    from {transform: translate(100vw, 0);}
    to { transform: translate(-50%, 0);}
    }

    .widgetHidden{
        position: fixed;
        left: 50%;
        transform: translate(100vw, 0);
        background-color: #fff;
        border: solid black 1px;  
        width: 400px;
        height: 200px;
        padding: 20px;
        animation-name: hiddenWidgetOnScreen;
        animation-duration: 2s;
    }
    @keyframes hiddenWidgetOnScreen {
        from { transform: translate(-50%, 0);}
        to {transform: translate(100vw, 0);}
        }


   .boxClose{
    display: flex;
    justify-content: flex-end;
  }

.mainContainer{
    margin: 0 auto;
    max-width: 800px;
    background-color: #fff9;
    border-radius: 15px;
    padding: 15px;
}

.mainContainer>div{
    margin-top: 40px;
}

.level{
    display: flex;
    justify-content: center;

}

.level_dot{
    padding: 5px;
}

.clockContainer{
    padding: 20px;
    text-align: center;
    border-radius: 50px;
}

.clock{
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hourglass{
    font-size: 30px;

}

.buttonPlay{
    margin: 0 auto;
    border-radius: 80px;
    width: 160px;
    height: 160px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.actionButton{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.button{
    padding: 15px;
    border-radius: 15px;
    min-width: 50px;
    text-align: center;
    font-weight: bold;
}


footer{
    position: sticky;
    bottom: 0;
    border-top: 1px solid #555;
}
.copyright{
    color: #aaa;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end;
}