*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.top{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    background-color: #eee;
    padding: 5px;
}

.mainContainer{
    margin: 0 auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
}

.mainContainer>div{
    margin-top: 40px;
}

.level{
    display: flex;
    justify-content: center;
    align-items: center;

}

.level_dot{
    padding: 5px;
}

.level_dot--active{
    font-size: 50px;
}

.clockContainer{
    padding: 20px;
    background-color: #3095f6;
    color: #fff;
    text-align: center;
    border-radius: 50px;
}

.clock{
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hourglass{
    font-size: 30px;

}

.buttonPlay{
    margin: 0 auto;
    border-radius: 80px;
    width: 160px;
    height: 160px;
    text-align: center;
    background-color: #3095f6;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.actionButton{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.button{
    padding: 15px;
    border-radius: 15px;
    min-width: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #3095f6;
    color: #fff;
}


footer{
    border-top: 1px solid #ccc;
}
.copyright{
    color: #ccc;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end;
}

.--modificator-color-bg-red{
    background-color: #3095f6;
}

.--modificator-color-bg-blue{
    background-color: blue;
}

.--modificator-color-bg-green{
    background-color: green;
}